@implements IDisposable
@inject NavigationManager NavigationManager
@using System.Security.Claims
@using LMS.Blazor.Client.Components.Icons
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView Context="auth">
            <Authorized>
                <div class="top-row px-4">
                    <NavLink class="nav-link" href="Account/Manage">
                        <CircleUserIcon Size="28" CssClass="text-secondary" />
                        <div class="d-inline-flex flex-column ms-2">
                            <span class="fw-bold">@GetFullName(auth.User)</span>
                            <small class="text-muted" style="font-size: 0.75rem;">@GetUserRole(auth.User)</small>
                        </div>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
           @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private string GetFullName(ClaimsPrincipal user)
    {
        return $"{user.Identity?.Name}";
    }    

    private string GetUserRole(ClaimsPrincipal user)
    {
        return user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value ?? "";
    }
}