@implements IDisposable
@using LMS.Blazor.Client.Components.Icons
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="">
            <BookOpenIcon Size="28" CssClass="text-primary" />
            <span class="h5 mb-0">Lexicon LMS</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


    <AuthorizeView Roles="Teacher">
        <Authorized>
        <nav class="nav flex-column">
            <div class="d-flex flex-column justify-content-between size">
                <div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="teacher/dashboard">
                            <DashboardIcon CssClass="mx-3" /> Dashboard
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="teacher/managecourses">
                            <BookOpenIcon CssClass="mx-3" /> Manage Courses
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="manageusers">
                            <ParticipantsIcon CssClass="mx-3" /> Manage Users
                        </NavLink>
                    </div>
                </div>

                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <LogOutIcon CssClass="text-danger mx-3" /> 
                        <span class="text-light">Logout</span>
                    </button>
                </form>
            </div>
            </nav>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Student">
        <Authorized>
             <nav class="nav flex-column">
            <div class="d-flex flex-column justify-content-between size">
               <div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="student/dashboard">
                            <DashboardIcon CssClass="mx-3" /> Dashboard
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="student/mycourse">
                            <BookOpenIcon CssClass="mx-3" /> My Course
                        </NavLink>
                    </div>
               </div>

                <form action="Account/Logout" method="post" class="p-4">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <LogOutIcon CssClass="text-danger mx-3" />
                        <span class="text-light">Logout</span>
                    </button>
                </form>
            </div>
            </nav>
        </Authorized>
    </AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

