@implements IDisposable
@using LMS.Blazor.Client.Components.Icons
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="">
            <BookOpenIcon Size="28" CssClass="text-primary" />
            <span class="h5 mb-0">Lexicon LMS</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView Roles="Teacher">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="teacher/dashboard">
                        <span class="bi bi-speedometer2"></span> Dashboard @* TODO: byt namn till "Dashboard *@
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="teacher/courses">
                        <span class="bi bi-book"></span> Courses
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="manageusers">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Student">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="student/dashboard">
                        <span class="bi bi-speedometer2"></span> Dashboard @* TODO: byt namn till "Dashboard *@
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="student/my-course">
                        <span class="bi bi-book"></span> My Course
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

