@using LMS.Shared.DTOs.Activity
@using LMS.Blazor.Client.Components.Icons

<div class="card p-4 mb-3 accent-card-primary">
    <div class="d-flex justify-content-between align-items-center">
       <div class="text-primary">
            <CalendarIcon />
            <span class="text-dark fw-semibold fs-6">Activities</span>
       </div>
       <div>
            <span class="text-secondary small">@DateTime.Now.ToString("dddd d MMMM")</span>
       </div>
    </div>

    @if (ActivityList == null)
    {
        <div class="card bg-body-tertiary mx-1 my-3  p-5">
            <span class="text-muted small"> There is no activities pending! Good job!</span>
        </div>
    }
    else
    {
       
            @foreach (ActivityDto activity in ActivityList)
            {
                <div class="card mx-1 my-3  p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul>
                            <li>
                                <h6 class="fw-bold">@activity.Name</h6>
                                <p class="text-muted small"><span class="fw-semibold">Due: </span>@activity.EndDate.ToString("dddd d MMMM HH:mm")</p>
                            </li>
                        </ul>
                    </div>
                </div>
            }
    }
</div>

@code {
    [Parameter] public List<ActivityDto>? ActivityList { get; set; }
}