@page "/"
@using System.Security.Claims
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Lexicon LMS</PageTitle>

<h1>Welcome to Lexicon LMS</h1>

<AuthorizeView Roles="Teacher">
    <Authorized>
        <p>Redirecting to Teacher's Dashboard...</p>

        @{
            Nav.NavigateTo("teacher/dashboard");
        }
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Student">
    <Authorized>
        <p>Redirecting to Student's Dashboard...</p>

        @{
            Nav.NavigateTo("student/dashboard");
        }
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>