@page "/manageusers"
@inject IApiService ApiService
@using LMS.Blazor.Client.Components
@using LMS.Shared.DTOs.User

@if (successMessage != null)
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (error != null)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @error
    </div>
}
else if (_users.Any())
{
    <div class="card shadow-sm rounded border-0">

        <div class="card-header bg-white border-bottom py-3 px-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2 class="h5 mb-1">Manage Users</h2>
                    <p class="text-muted small mb-0">Overview of all users</p>
                </div>

                <ShowFormButton ShowForm="showCreateUserForm"
                                OnClick="ToggleCreateUserForm"
                                HiddenText="New User"/>
            </div>
        </div>
        @if (showCreateUserForm)
        {
            <CreateUserForm Model="userToCreate" Roles="_roles" OnSubmit="HandleCreateUser" />
        }

        <UserTable Users="_users" OnDelete="ConfirmDelete"></UserTable>

    </div>

    <ConfirmModal ModalId="deleteUserModal"
                  Title="Confirm Deletion"
                  Message="Are you sure you want to delete this user?"
                  OnConfirm="DeleteUser" />
}
else
{
    <p>No users found.</p>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    private List<UserDto> _users = new List<UserDto>();
    private string? error = null;
    private bool isLoading = true;
    private string? userIdToDelete;
    private bool showCreateUserForm;
    private CreateUserDto userToCreate { get; set; }
    private List<string> _roles = new();
    private string? successMessage;

    protected override async Task OnInitializedAsync()
    {
        //This method run in prerender
        await CallApi();
    }

    private async Task CallApi()
    {
        try
        {
            _users = await ApiService.GetAsync<List<UserDto>>($"api/users") ?? new List<UserDto>();
            _roles = await ApiService.GetAsync<List<string>>($"api/users/roles") ?? new List<string>();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task HandleCreateUser()
    {
        error = null;
        successMessage = null;

        try
        {
            var result = await ApiService.PostAsync<CreateUserDto, CreateUserResultDto>("api/users", userToCreate);

            if (result is { Succeeded: true, CreatedUser: { } createdUser })
            {
                _users.Add(createdUser);
                successMessage = "User created successfully.";
                showCreateUserForm = false;
            }
        }
        catch (Exception ex)
        {
            error = "Failed to create user: " + ex.Message;
        }
    }

    private void ToggleCreateUserForm()
    {
        showCreateUserForm = !showCreateUserForm;

        if (showCreateUserForm)
        {
            successMessage = null;
            userToCreate = new CreateUserDto();
        }

    }

    private void ConfirmDelete(string id)
    {
        successMessage = null;
        userIdToDelete = id;
    }

    private async Task DeleteUser()
    {
        if (userIdToDelete == null)
            return;

        await ApiService.DeleteAsync($"api/users/{userIdToDelete}");

        _users = _users.Where(u => u.Id != userIdToDelete).ToList();

        successMessage = "User deleted successfully.";
        userIdToDelete = null;
    }
}
