.accent-card-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 103%;
    background-color: var(--bs-primary);
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.accent-card-success::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 103%;
    background-color: var(--bs-success);
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.accent-card-warning::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 103%;
    background-color: var(--bs-warning);
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}